<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabaindomedika.stscustomer">

  <application
      android:name=".StsApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".LoginActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".features.ticket.status.TicketStatusActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".features.ticket.open.OpenTicketActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".features.profile.ProfileActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".features.notification.NotificationActivity"
        android:screenOrientation="portrait"/>
  </application>

</manifest>